// Place all the styles related to the admin/order_histories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.th{
	width:400px;
	text-align: center;
}
.td{
	text-align: center;
}
.administraion-show-title{
	float: left;
	font-size: 36px;
}
.links{
	margin:25px 0 0 10px;
}