
.product-images{
	width: 30%;
	height: auto;
	float: left;
	padding-top:45px;
}

.main_contents_group{
	float: left;
    margin-right: 5%;
}
.main_contents_group:last-child{
    margin-right:0%;
}
.contents_menu_group{
	float: left;
}
.alone_contents_group{
	float: left;
	width: 65%;
    border: 2px solid black;
    border-collapse: collapse;
    margin-left: 30px;
    margin-bottom: 49px;
}
.pro{
	border: 1px solid black;
	text-align: center;
	height: 90px;
	width:100px;
}
.pro2{
	border: 1px solid black;
	text-align: center;
	height: 90px;
	width:300px;
}
.pp{
	margin-left: 30px;
}
.ID{
	margin-left: 320px;
	padding-top: 100px;
	font-size:40px;
}