// Place all the styles related to the admin/reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.back{
	margin-top: 8px;
}

.show_review_contents{
	margin: 1px;
}
.review-title{
	margin : 0 auto;
}