// Place all the styles related to the admin/reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.back{
	margin-top: 8px;
}

.show_review_groups{
	width:100%;
	border: 0px solid black;
    border-collapse: collapse;
}
.review-title{
	margin: 50px 0 0 50px;
}
.show_review_content{
	border: 1px solid black;
}
.review-titles{
	margin-bottom:0;
}