// Place all the styles related to the admin/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin-user-table{
  margin: 50px 0 0 60px;
  width: 100%;

}
.admin-user{
	font-size: 25px;
}
.oo:first-child{
	color: black;
	padding-right: 60px;
}
.td{
	padding-left: 140px;
}
.admin-user-show-title{
	float:left;
}
.admin-link{
	font-size: 30px;
	margin-left: 100px;
}
.link{
	color: black;
}
.button {
	display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: black;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  margin-right: 20px;
}
.back{
	color: black;
}
.button:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}
.aa{
	font-size: 20px;
	margin: 30px 0 0 60px;
}
.A{
	font-size:20px;
	margin: 10px 0 0 60px;
}
.edit{
	font-size:20px;
	margin: 0 0 0 60px;
}
.enter{
	border-radius:50%
}