// Place all the styles related to the admin/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin-user-table{
  margin: 50px 0 0 10px;
  width: 80%;

}
.admin-user{
	font-size: 25px;
}

.admin-user-show-title{
	float:left;
}
.admin-link{
	font-size: 30px;
	margin-left: 100px;
}
.link{
	color: black;
}
.button {
	display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: white;
  border-bottom: solid 4px #627295;
  border-radius: 4px;
  margin-right: 20px;
  background-color: #337ab7;
  border-color: #2e6da4;
  font-size: 13px;
  width: 120x
}
.back{
	color: black;
}
.button:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}
.aa{
	font-size: 20px;
	margin: 30px 0 0 60px;
}
.A{
	font-size:20px;
	margin: 10px 0 0 60px;
}
.edit{
	font-size:20px;
}
.enter{
	border-radius:50%
}