<%= render 'header/user_head', user: current_user %>
<div class="container">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
          <p class="">ご購入いただきありがとうございます</p>
          <p class="">なおご注文の変更等ございましたら、お早めに連絡いただけますよう<br>
          よろしくお願い申し上げます。</p>
		　<%= link_to "商品一覧へ戻る", products_path, class: "products_index"%>
		</div>
	</div>
</div>
<%=render 'footer/footer'%>