<div class="confirm">
	<h1 class="confirm-title">購入履歴一覧</h1>
	<div class="confirm-container">
		<%=order_history.sum%>
        <%=user.adress%>
        <%=user_history.sum%>
        <%=user.method_of_pay%>
	</div>
</div>