// Place all the styles related to the cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cart{
	text-align:center;
}
table{
	margin: 0 auto;
	width:800px;
}
.th{
	text-style:
}