.logo {
  width: 400px;
  height: 50px;
}
.imagetag{
	width:100px;
	height:100px;
	margin-left:10px;
}
.page{
	margin-left: 30px;
	color: black;
}
header{
 border: solid 2px #333;
 font-size:20px;

}
.navbaar{
	margin-top:10px;
}
.navbar{
  margin-bottom: 1px;
}
.admin-left{
}
.mane1{
	float:left;
	margin-top;
	margin-top: 41px;
	margin-left: 50px;
}
.mane2{
	float:left;
	margin: 41px 0 0 80px;
}
.dele{
	color: black;
}


.left{
	float:left;
	color: black;
	margin-top:35px;
	font-size: 20px;
	margin-right: 50px;
	display:-webkit-box;
}
.icon{
	margin-right: 0;
}
.bts{
	color: black;
}
.aaa{
	margin-left:100px;
}
.bb{
	margin-left:100px;
}
.cc{
	margin-left:100px;
}
.dd{
	margin-left:100px;
}