// Place all the styles related to the order_histories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index_page{
    .order_history_contents{
        width:80%;
        display:block;
        margin:20px 10% 20px 10%;
        border:2px solid black;
        .order_group{            
            margin-top:20px;
            margin-left:5%;
            width:90%;
            p{
                font-size:24px;
            }
            .first_group{
                display: flex;
                p{
                    width:50%;
                }
            }
            .second_group{
                display: flex;
                p{
                    width:50%;
                }
            }
            .third_group{
                display: flex;
                p{
                    width:50%;
                }
            }
        }
    }
    .order_list_contents{   
        width:60%;
        margin:0 20% 0 20%;
        height:120px;
        .image,.title,.price{
            width:calc(100%/3);
            text-align: center;
        }
        .jacket{
            height:100px;
            line-height: 120px;
            margin-right:15px;
        }
        .title{
            line-height: 120px;
            font-size:28px;
        }
        .price{
            float:right;
            line-height:120px;
            font-size:28px;
            color:red;
        }
    }
}