// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mainContentsGroup{
	display:inline-block;
}
.details{
	margin: 30px auto;
	width:500px;
}
.detail-left{
	float:left;
}
.detail-right{
	float:right;
	padding-right:10%;
}
.review{
	width:500px;
	margin: 20px auto;
}
.reviewGroup{
	float:right;
}
.show_review_group{
	float:left;
}
.main_sentence{
	height:9em;
	width:180px;
}
.product-image{
	width: 50%;
	height: auto;
}
.mainContentsGroup{
    float: left;
    width:30%;
    margin-right:5%;
    margin-bottom:50px;
}