// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mainContentsGroup{
	display:inline-block;
}
.details{
	margin: 30px auto;
	width:500px;
}
.detail-left{
	float:left;
}
.detail-right{
	float:right;
}
.review{
	width:500px;
	margin: 0 auto;
}
.reviewGroup{
	float:right;
}
.show_review_group{
	float:left;
}