*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.mainContentsGroup{
    float: left;
    width:30%;
    margin-right:5%;
}
.mainContentsGroup:last-child{
    margin-right:0%;
}
.contents{
}
